@using ClassLibrary1.Enum

@{
    ViewData["Title"] = "Home Page";
}

<h4 class="mb-3 text-muted">Создание задачи</h4>
<form id="createTaskForm">
    <div class="mb-3">
        <label class="form-label">Название задачи</label>
        <input name="name" type="text" class="form-control"/>
    </div>
    <label class="form-label">Приоритет задачи</label>
    <select name="priority" class="form-select mb-3" asp-items="Html.GetEnumSelectList<Priority>()"></select>
    <div class="mb-3">
        <label class="form-label">Описание задачи</label>
        <textarea name="description" type="text" class="form-control" rows="3"></textarea>
    </div>
    <button id="createTask" class="btn btn-primary">Создать</button>
</form>
<table class="table table-dark table-hover" id="taskTableId">
    <thead>
    <tr>
        <th>Название</th>
        <th>Сложность</th>
        <th>Описание</th>
        <th>Готовность</th>
        <th>Завершить задачу</th>
    </tr>
    </thead>
    <tbody>
    
    </tbody>

</table>
@section Scripts
{
    <script type="text/javascript" src="//cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!--Всплывающее окно-->
    <script>
        let dataTable = $('#taskTableId').DataTable({
            ajax : {
                url : "@Url.Action("TaskHandler")",
                method: 'POST',
                data:null
            },
            columns: [
                {date: 'name'},
                {date: 'Priority'},
                {date: 'IsDone'},
                {date: 'description'},
                {
                    data:null,
                    sortable:false,
                    render: function (data, type){
                        return '<button class="btn-success btn-sm center-block">Выполнить</button>'
                    }
                }
            ],
            createdRow: function (nRow, data){
                for (var i = 0; i < dataTable.columns().header().length-1; i++){
                    $('td', nRow).eq(i).css('cursor', 'pointer');
                    $('td', nRow).eq(i).on('click', null);
                    
                }
                $('td button', nRow).eq(i).on('click', null);
            }
        });
        
        
        
        
        $('#createTask').on('click', function (e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "Task")',
                data: $('#createTaskForm').serialize(),
                success: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Done'
                    })
                },
                error: function (response) {
                     Swal.fire({
                        title: 'Информация',
                        text: response.responseJSON.description,
                        icon: 'error',
                        confirmButtonText: 'Done'
                     })
                }
            })
        });
    
    </script>
}